.App {
  text-align: left;
  text-indent: 0%;
  scroll-behavior: smooth;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 2%;
  padding-right: 2%;
}

.App-footer{
  background-color: #282c34;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
}

.App-main{
  padding-left: 2%;
  padding-right: 2%;
}

.App-link {
  color: #61dafb;
  margin: 0;
}
.Header-container{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.Header-element{
  margin: 0;
  padding: 4cap;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  text-align: center;
}

.Projects-header{
  justify-content: space-between;
  /* flex-direction: row; */
  display: flex;
  padding: 50px;
}

.Project-img{
  /* flex: auto; */
  width: 30cap;
  margin: 0;
}


.projects{
  min-height: 100vh;
}
.work{
  min-height: 100vh;
}
.aboutMe{
  min-height: 100vh;
}
.aboutMe-content{
  justify-content: space-between;
  display: flex;
  flex-direction: row;

  
}
.aboutMe-item{
  margin: 0;
  padding: 1%;
}

.education{
  min-height: 100vh;
}
.contact{
  min-height: 100vh;
}